{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>Suffolk Public Library Public PC Landing Page</title>
		<link rel="stylesheet" href="{% static 'ppclp/ppclp.css' %}">
		<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Nunito:300,600,700,800,italic,regular|Nunito+Sans:300,600,700,regular|" media="all">
	</head>
	<body>
		<div id="div_header">
			{% comment %} <img src="{% static 'ppclp/ppclp_banner.png' %}">{% endcomment %}
			<img src="{{ page.cover_photo.url }}">
		</div>
		<h1>Suffolk Public Library Public PC: {% block pagename %}{% endblock %}</h1>
		<div id="div_sidebar">
		{% block sidebar %}
		{% endblock %}
		</div>
		<div id="div_content">
		{% block content %}
		{% endblock %}
		</div>
	</body>
</html>
