{% extends './_base.html' %}
{% load touglates_tags %}
{% block pagename %}{{ page }}{% endblock %}
{% block content %}
{{ page }}
<div>
{% for placement in page.elementplacement_set.all %}
    {% if placement.element.is_heading %}
        </div>
        <div class="level{{ placement.level }}"><h{{ placement.level|add:1 }}>{{ placement.element.body }}</h{{ placement.level|add:1 }}>
    {% else %}
        <p>{{ placement.element.body | markdown | safe }}</p>
    {% endif %}
{% endfor %}
</div>
{% endblock %}
