body {
    font-family:nunito;
}
#div_header {
    height:150px;
    overflow:hidden;
    padding-left:5em;
    padding-right:5em;
    text-align:center;
}

#div_header img {
    height:98%;
    border:1px solid #07c;
}

h1,h2,h3,h4,h5,h6 {
    color:#03a;
    font-family:Arial, Helvetica, sans-serif
}
h1 {
    text-align:center;
}

#div_sidebar {
    float:left;
    width:10%;
    min-height: 600px;
    padding-top:4ex;
    padding-left:.5em;
    background-color: #07c;
    color:white;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

}
#div_sidebar * {
    font-weight:bold;
}
#div_sidebar a {
    text-decoration: none;
    color:white;
}

#div_content {
    float:left;
    width:85%;
    font-family: Arial, Helvetica, sans-serif;
}
.sidemenu_item {
    padding-bottom:1em;
}
a.chosen {
    font-weight:bold;
    color:#c66;
}
h2{
    margin-left: 1rem;
}
h2 + .content-block {
    margin-left: 2rem;
}
h3 {
    margin-left: 3rem;
}
h3 + .content-block {
    margin-left: 4rem;
}
h4 {
    margin-left: 5rem;
}
h4 + .content-block {
    margin-left: 6rem;
}
h5 {
    margin-left: 7rem;
}
h5 + .content-block {
    margin-left: 8rem;
}
h6 {
    margin-left: 9rem;
}
h6 + .content-block {
    margin-left: 10rem;
}
h6.h7 {
    margin-left: 11rem;
}
h6.h7 + .content-block {
    margin-left: 12rem;
}
h6.h8 {
    margin-left: 13rem;
}
h6.h8 + .content-block {
    margin-left: 14rem;
}
h6.h9 {
    margin-left: 15rem;
}
h6.h9 + .content-block {
    margin-left: 16rem;
}
h6.h10 {
    margin-left: 17rem;
}
h6.h10 + .content-block {
    margin-left: 18rem;
}
h6.h11 {
    margin-left: 19rem;
}
h6.h11 + .content-block {
    margin-left: 20rem;
}
h6.h12 {
    margin-left: 21rem;
}
h6.h12 + .content-block {
    margin-left: 22rem;
}
